<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/images/tosvg.svg" alt="logo" width="264" height="78"></a>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/projects">Gallery</a>
                    </li>
                    <li>
                        <a href="/reviews">Reviews</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Services</h2>
                    </li>
                    <li>Woodworking</li>
                    <li>Renovation</li>
                    <li>Framing & Painting</li>
                </ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li>
                        <a href="https://maps.app.goo.gl/KH36Qx48cRA1ExMK9" target="_blank">First Address Line:<br>2194 Florida A1A, <br>Indian Harbour Beach, FL 32937</a>
                    </li>
                    <li>
                        <a href="tel:555-779-4407">T: (917) 935-3911</a>
                    </li>
                    <li>
                        <a href="mailto:whaleeyewoodworks@gmail.com">Click to Email</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Designed and Hand Coded by</span>
        <a href="mailto:jonathannmaynard@gmail.com" target="_blank" rel="noopener">Jonathan Maynard</a>
        <span class="copyright"> Copyright 2024 - Present</span>
    </div>
</footer>